@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e0e3e8;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #727e8c;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px;
}
section {
  width: 900px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  border-radius: 6px;
  padding: 30px 0;
}
.heading {
  background-color: #1c85e8;
  padding: 10px;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

form {
  padding: 0 50px;
}
form label {
  color: #727e8c;
  font-size: 18px;
}
input {
  width: 60px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 20px;
  outline: none;
  cursor: pointer;
}
button {
  padding: 5px 30px;
  border: none;
  cursor: pointer;
  background: #727e8c;
  color: #fff;
  transition: 0.5s;
}
button:hover {
  background: #1c85e8;
}
article {
  padding: 40px;
}
